.hero-section {
  @include background("../../assets/images/hero-section-bg.png", 100vh);
  position: relative;
  gap: 2rem;

  .ellipse-overlay {
    position: absolute;
    top: -80vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgba(26, 243, 191, 0.18);
    filter: blur(268px);
    width: 80%;
    height: 120%;
  }

  h1 {
    max-width: 1200px;
    width: 100%;
  }

  p {
    width: 28%;
    color: rgba(241, 254, 251, 0.7);
  }

  @media (max-width: 1024px) {
    h1 {
      width: 92%;
    }

    p {
      width: 56%;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: $h2;
    }

    p {
      font-size: $capital;
    }
  }

  @media (max-width: 425px) {
    h1 {
      font-size: $h3;
    }

    p {
      width: 82%;
      font-size: $default-fz;
    }
  }
}
