.trading-block {
  display: flex;
  justify-content: center;

  .block-content {
    position: relative;
    h1 {
      text-align: left;
      position: absolute;
      max-width: 21.25rem;
      right: 0;
    }
    
    .image-section {
      img {
      }
    }

    .steps-section {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .step {
        width: 34rem;
        height: 14rem;
        background: rgba(217, 217, 217, 0.08);
        display: flex;
        align-items: center;
        justify-content: center;

        &-content {
          color: $white;
          display: flex;
          padding: 3rem;
          gap: 2rem;

          .image {
            width: 5.25rem;
            height: 5.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .text {
            display: flex;
            gap: 1rem;
            flex-direction: column;

            p {
              text-align: left;
              color: $dark-grey;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .image-section {
      img {
        width: 100%;
      }
    }

    .trading-block {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    .image-section {
      img {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    .step {
      width: 8rem;
      height: 2rem;

      &-content {
        padding: 2rem;

        .image {
          width: 3.25rem;
          height: 3.25rem;
        }

        .text {
          p {
            text-align: left;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
