@mixin background($image-url, $height) {
  background-image: url(#{$image-url});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: $height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin button(
  $border,
  $box-shadow,
  $color,
  $padding,
  $background-color,
  $transition
) {
  border: $border;
  box-shadow: $box-shadow;
  color: $color;

  padding: $padding;
  background-color: $background-color;
  transition: $transition;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin large-text {
  font-size: 2.7rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 360px;
  margin: 5rem 10rem 0 0;
}

@mixin small-text {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 480px;
  width: 100%;
  margin-bottom: 3rem;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: $top $right $bottom $left;
}
